/* src/assets/global.css */



.progress-background {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.progress-container {
  display: flex;
  align-items: center;
}

.progress-circle {
  position: relative;
  width: 100px;
  height: auto;
}

.progress-circle svg {
  width: 100%;
  height: auto;
  transform: rotate(-90deg);
}

.progress-circle circle {
  fill: none;
  stroke-width: 10;
}

.progress-circle .background {
  stroke: #e4eee6;
}

.progress-circle .foreground {
  stroke: #1c592f;
  stroke-linecap: round;
  stroke-dasharray: 0 100;
  transition: stroke-dasharray 1s ease, stroke-dashoffset 1s ease;
  transition-delay: 0.3s;
}
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
}

/* Custom font size classes */
.font-small {
    font-size: 10px;
  }
  
  .font-medium {
    font-size: 12px;
  }
  
  .font-large {
    font-size: 14px;
  }
  
  .font-extra-large {
    font-size: 16px;
  }
  
  /* Medium screens (tablets, small desktops) */
  @media (min-width: 640px) {
    .font-small {
      font-size: 10px;
    }
  
    .font-medium {
      font-size: 14px;
    }
  
    .font-large {
      font-size: 16px;
    }
  
    .font-extra-large {
      font-size: 18px;
    }
  }
  
  /* Large screens (desktops, larger tablets) */
  @media (min-width: 1024px) {
    .font-small {
      font-size: 12px;
    }
  
    .font-medium {
      font-size: 14px;
    }
  
    .font-large {
      font-size: 18px;
    }
  
    .font-extra-large {
      font-size: 20px;
    }
  }
  
  /* Extra large screens (large desktops) */
  @media (min-width: 1280px) {
    .font-small {
      font-size: 12px;
    }
  
    .font-medium {
      font-size: 16px;
    }
  
    .font-large {
      font-size: 20px;
    }
  
    .font-extra-large {
      font-size: 22px;
    }
  }
  






  .font-small-custom {
    font-size: 5px;
  }
  
  .font-medium-custom {
    font-size: 7px;
  }
  
  .font-large-custom {
    font-size: 10px;
  }
  
  .font-extra-large-custom {
    font-size: 12px;
  }
  
  /* Medium screens (tablets, small desktops) */
  @media (min-width: 640px) {
    .font-small-custom {
      font-size: 10px;
    }
  
    .font-medium-custom {
      font-size: 14px;
    }
  
    .font-large-custom {
      font-size: 16px;
    }
  
    .font-extra-large-custom {
      font-size: 18px;
    }
  }
  
  /* Large screens (desktops, larger tablets) */
  @media (min-width: 1024px) {
    .font-small-custom {
      font-size: 12px;
    }
  
    .font-medium-custom {
      font-size: 14px;
    }
  
    .font-large-custom {
      font-size: 18px;
    }
  
    .font-extra-large-custom {
      font-size: 20px;
    }
  }
  
  /* Extra large screens (large desktops) */
  @media (min-width: 1280px) {
    .font-small-custom {
      font-size: 12px;
    }
  
    .font-medium-custom {
      font-size: 16px;
    }
  
    .font-large-custom {
      font-size: 20px;
    }
  
    .font-extra-large-custom {
      font-size: 22px;
    }
  }